body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.navigation {
    margin-top: 10px;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.content {
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.error-message {
    background-color: #ffdddd; 
    color: #8b0000; 
    padding: 10px; 
    border: 1px solid #f44336; 
    margin-bottom: 10px;
    margin: 0 auto;
    width: 250px;
  }

form {
  text-align: center;
  margin-top: 50px;
}

form h1 {
  color: #333;
}

form label {
  font-size: 20px;
  display: block;
  margin-top: 10px;
}

form input {
    font-size: 20px;
  width: 200px;
  margin-bottom: 10px;
}

form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

form a {
  display: block;
  margin-top: 10px;
  color: #007bff;
}
