# requirements for python

# https://dev.mysql.com/downloads/connector/python/
pip install mysql-connector-python

# sudo apt-get install python3-requests
pip install requests

# sudo apt-get install python3-lxml
pip install lxml
